/* CSS from http://bloggingmeta.com */

/* @group General */

body {
	font: 76%/1.6em "Lucida Grande", Lucida, Verdana, sans-serif;
	background: #0085C3;
}

#wrapper {
	background: #fff;
	color: #68768D;
	width: 85%;
	margin: 10px auto;
	padding: 20px;
	font-size: 1.3em;

}

a {
	color: #00589D;
}

a:hover {
	color: #AE4F00;
	text-decoration: none;
}

a:visited {
	text-decoration: none;
}

.time {
	background: #68768D;
	color: #fff;
	padding: 2px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	
}

.head {
	cursor: pointer;
	display: block;
	background: url(/images/expand.png) no-repeat left center;
	padding-left: 25px;
}

.head.active {
	background: url(/images/contract.png) no-repeat left center;
}

/* @end */

/* @group Headings
 */

h1,h2,h3,h4 {
	font-family: Cambria, Georgia, Times, Times New Roman, serif;
}

h1 {
	font-size: 2.2em;
	text-align: center;
	padding-bottom: .5em;
	border-bottom: 1px solid #253245;
}

h2 {
	font-size: 1.7em;
	color: #253245;
	margin: .5em;
}

h3 {
	font-size: 1.6em;
	color: #E0CD52;
	width: 6em;
	padding:0 0 .25em 25px;
	margin: .75em;
	border-bottom: 1px solid #e0cd52;
}

h4 {
	font-size: 1.4em;
	padding-left: 50px;
	padding-top: 0.2em;
}

.room_name h3, .sponsors h3 {
	font-size: 1.4em;
	color: #253245;
	padding-bottom: 4px;
	margin: 15px 0;
	border-bottom: 1px solid #253245;
}

.sponsors li
{
  padding-bottom: 0.5em;
}

.day_part h4 {
	color: #AE4F00;
	font-size: 1.2em;
	margin-bottom: .5em;
}
/* @end */

/* @group Lists */

ul {
	padding-left: 75px;
	list-style-type: none;
	margin: 2em 0 0 0;
}

ul li ul {
	margin: 0;
}

li.room_name {

}

ul.day_part {
	
	margin: 1em .5em;
	padding: 0;
}

li.talk {
	font-size: 1.2em;
	color: #68768D;
	padding: .5em;
	position: relative;
}


li.no_talks {
	color: #AE1C00;
	font-weight: 700;
}



.talk_details
{
  border-collapse:  collapse;
  display:          none;
  position:         absolute;
  z-index:          50;
}

.talk_details_content
{
  background: white;
}

.talk_details_content h5, .talk_details_content h6
{
  padding-bottom: 0.5em;
}

.talk_details_content p
{
  font-size: 0.8em;
}

.talk_details_content a
{
  font-size: 0.7em;
}

.talk_details td.corner
{
  height: 15px;
  width:  19px;
}

.talk_details td#topleft
{
  background-image: url(/images/bubble/bubble-1.png);
}

.talk_details td.top
{
  background-image: url(/images/bubble/bubble-2.png);
}

.talk_details td#topright
{
  background-image: url(/images/bubble/bubble-3.png);
}

.talk_details td.left
{
  background-image: url(/images/bubble/bubble-4.png);
}

.talk_details td.right
{
  background-image: url(/images/bubble/bubble-5.png);
}

.talk_details td#bottomleft
{
  background-image: url(/images/bubble/bubble-6.png);
}

.talk_details td.bottom
{
  background-image: url(/images/bubble/bubble-7.png);
  text-align:       center;
}

.talk_details td.bottom img
{
  display:  block;
  margin:   0 auto;
}

.talk_details td#bottomright
{
  background-image:url(/images/bubble/bubble-8.png);
}

#alternatives
{
	width:  85%;
	margin: 10px auto;
	color:  #fff;  
}

#alternatives a
{
  padding-left:     2em; 
	color:            #fff;
	text-decoration: underline;
}
/* @end */




