/* Selections from Blueprint CSS Framework 0.7.1 */
.error, .errorExplanation, .notice, .success {padding:.8em;margin:.5em 2em 2em .5em;border:2px solid #ddd;}
.error, .errorExplanation {background:#FBE3E4;color:#8a1f11;border-color:#FBC2C4;}
.notice {background:#FFF6BF;color:#514721;border-color:#FFD324;}
.success {background:#E6EFC2;color:#264409;border-color:#C6D880;}
.error a {color:#8a1f11;}
.notice a {color:#514721;}
.success a {color:#264409;}

/* Admin link styling */
.admin-links {
	margin: 2em 0 0 1em;
	font-size: 0.8em;
}

.admin-links a:visited {
	text-decoration: underline;
}

/* For bottom of page login info */
.login {
	width: 85%;
	margin: 10px auto;
	color: #fff;
}

.login a {
	color: #fff;
	text-decoration: underline;
}

.talk_name a {
	text-decoration: none;
}

.talk_name .talk_url {
	margin-left: 160px;
	padding-top: 10px;
}