<span class="oneField"><label for="name" class="preField">Name: </label><%= f.text_field :name %></span>
<span class="oneField"><label for="description" class="preField">Description: </label>
<%= f.text_area :description %></span>
<span class="oneField"><label for="who" class="preField">Who: </label><%= f.text_field :who %></span>
<span class="oneField"><label for="room_id" class="preField">Room: </label><%= f.select :room_id, Room.find(:all).map {|r| [r.name, r.id]}%></span>