<span class="oneField"><label for="name" class="preField">Name: </label><%= f.text_field :name %></span>
<span class="oneField"><label for="level" class="preField">Level: </label><%= f.text_field :level %></span>
<span class="oneField"><label for="homepage" class="preField">Homepage: </label><%= f.text_field :homepage %></span>
<span class="oneField"><label for="logo_url" class="preField">Logo URL: </label><%= f.text_field :logo_url %></span>