<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title><%= PAGE_TITLE %></title>
    <%= stylesheet_link_tag  "yui-reset" %>
    <%= stylesheet_link_tag "style" %>
	 <%= stylesheet_link_tag "post-it"%>
    <%= javascript_include_tag 'jquery-1.2.6' %>
    <%= javascript_include_tag 'jquery.corner' %>

	<script type="text/javascript">
      $(document).ready(
        function()
        {
          $(".head").click(
            function()
            {
              $(this).next().slideToggle("slow");
              $(this).toggleClass("active");
            } 
          ).next().hide();
      $("#wrapper").corner ("20px");
      }
    );
    </script>
  </head>

  <body>
	  <div id="wrapper">
      <h1><%= PAGE_TITLE %></h1>
		<% if flash[:notice] %>
			<div class="notice"><%= flash[:notice] %></div>
		<%end%>
      <%= yield %>
    </div>
  </body>
</html>