<% @title   ||= title %>
<% @message ||= message %>
<html>
  <head>
    <title>
      <%= @title %>
    </title>
    <meta http-equiv="Content-Type" content="text/html;">
  </head>
  <body bgcolor="#999999" topmargin="100">
    <%= @message %>
  </body>
</html>
